.c-title-h4{
	font-family: "mblack";
	font-weight: 900;
	text-transform: uppercase;
}
.c-button p{
	font-family: "msemibold";
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


.c-menu_container{
	width: 100%;
	position: relative;
	text-align: center;	
}
.c-menu_button
{	
	display: inline-block;
	height: 50px;
	border: 1px solid red;
	vertical-align: top;
	text-decoration: none;
}
.c-menu_button:hover{
	text-decoration: none;
}
.c-menu_button p
{	
	padding: 15px 50px;
	text-decoration: none;
}

.c-button_upload{
	display: inline-block;
	background-color: burlywood;
	color: black;
	height: 50px;
}

.c-button_upload p
{	
	padding: 15px 50px;
	text-decoration: none;
}