#section_crear{
	width: 100%;
	position: relative;	
	float: left;
	background-color: lightgray;
}
.crear_form_container{
	width: 100%;
	height: auto;
	position: relative;
}

.crear_form_container label{
	position: relative;
	width: 80%;	
	display: inline-block;
	margin-left: 10%;
}
.crear_form_container select{
	position: relative;
	width: 100%;
	height: 30px;
	display: inline-block;	
}
.crear_form_container span{
	position: relative;
	width: 100%;
	height: 20px;
	display: inline-block;	
	opacity: 1;
}

.crear_gallery_section{
	width: 100%;
	position: relative;
	display: block;
	margin-top: 50px;
	display: none;
}
.crear_gallery_section--active{
	display: block;
}
.crear_gallery_selector{
	width: 70%;
	position: relative;
	margin: 0 auto;
	
}
.crear_gallery_selector label{
	width: 100%;
	
}
.crear_gallery_selector select{
	width: 100%;
	height: 25px;
}
.crear_gallery_container{
	width: 100%;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	background-color: lightblue;
}
.crear_gallery_menu{
	background-color: tomato;
}
.crear_gallery_menu_container{
	width: 100%;
	text-align: center;	
}
.crear_gallery_menu_item{	
	vertical-align: top;
	background-color: gray;
	color: black;
}
.crear_gallery_menu_item--active{
	background-color: lightgray;
	color: white;
}
.crear_nav{
	width: 100%;
	height: 50px;
	position: relative;
	display: block;
}
.crear_nav_item{
	width: 150px;
	height: 50px;
	position: relative;
	display: block;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
}
.crear_nav_left{
	float: left;
}
.crear_nav_right{
	float: right;
}
.crear_items_container{
	width: 100%;
	position: relative;
	display: block;
	padding: 15px 0;
	background-color: lightgreen;
}
.crear_items_mask{
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
	
	border: 1px solid red;
}
.crear_items_slide--page{
	position: relative;
	display: inline-block;
	width: 50%;
	height: 100%;
	text-align: center;
	float: left;
}
.crear_items_slide{
	width: 200%;
	position: relative;
	display: block;
	float: left;
}
.crear_item{
	width: 50%;
	
	position: relative;
	display: inline-block;	
	float: left;
}
.crear_item img{
	width: 100%;
	padding: 20px;
	height: auto;
	position: relative;
	
}
.crear_upload_section{
	width: 100%;
	position: relative;
	display: block;
	margin-top: 50px;
}
.crear_upload_selector{
	width: 70%;
	position: relative;
	margin: 0 auto;
	height: 35px;
}
.crear_upload_selector label{
	width: 100%;
	height: 25px;
}
.crear_upload_selector select{
	width: 100%;
	height: 25px;
}

.crear_main_section{
	background-color: tomato;

}
.crear_main_tools{
	width: 100%;
	background-color: lightgray;
	text-align: center;
}
.crear_main_crear_main_menu_item{
	width: 100%;
	
}
.crear_main_canvas_container{
	width: 100%;
	position: relative;
	background-color: magenta;
	margin-bottom: 50px;
}
.crear_main_canvas_mask
{
	width: 100%;
}
.crear_main_canvas{
	width: 320px;
	height: 680px;
	position: relative;
	display: block;
	background-color: lightgray;
	border: 1px solid black;
	margin: 0 auto; 

}

@media screen and (min-width : 768px){
	.crear_form_container label{		
		width: 40%;	
		margin-left: 5%;
	}
	.crear_form_container select{
		width: 100%;
		height: 30px;
		margin-left: 10%;
	}
	.crear_form_container span{
		width: 100%;
		height: 20px;	
		margin-left: 10%;
	}

	.crear_gallery_items_mask{
		height: 400px;		
	}
	.crear_gallery_item{
		width: 25%;
		height: 200px;
	}
	.crear_gallery_menu_container{
		width: 500px;
		position: relative;
		margin: 0 auto;	
	}
	.crear_gallery_menu_item:hover{
		background-color: lightgray;
		color: white;
	}
	.crear_item{
		width: 20%;
		margin: 2.5%;
	}
	.crear_item img{
		width: 320px;
		height: auto;
		position: relative;
		margin: 0 auto;
		display: block;
	}

}
