#header_slide{
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
	position: relative;
}
.header_slide_container{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 1;
}
.header_slide_item{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0;
}

.header_slide_item.slider__item--active
{
	opacity: 1;
}
.header_slide_bg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.lazy_load{
	position: relative;
	width: 100%;
	display: block;
	float: left;
}
.lazy_load img{
	width: 100%;
}

.slider_mask
{
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	float: left;
	overflow-x: hidden;
	overflow-y: visible;
}
.header_slide_case{
	width: 250px;
	height: 480px;
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(50%);
	
	z-index: 2;
}

.header_slide_text_container{
	width: 300px;
	position: absolute;
	top: 100px;
	left: 50%;	
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 2;
	background-color: rgba(0,0,0,0.0);
}

.header_slide_title{
	font-size: 34px;
	line-height: 30px;
	color: white;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.header_slide_title span{
	color: #dbc688;
}
.header_slide_text{
	padding: 10px;
	margin-bottom: 30px;
	color: white;
	font-family: "mlight";
	font-size: 14px;
}
.header_slide_button{
	width: 312px;
	height: 97px;	
	text-align: center;	
	margin: 20px auto;
	position: relative;
	display: block;
	text-transform: uppercase;
	font-weight: 500;
	background-image: url("../assets/images/slider/btn_transparent_base.png");
	border-radius: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
}
.header_slide_button p{
	margin-top: -7px;
	color: #ffffff;
	letter-spacing: 2px;
}
.header_slide_bg{
	background-size: cover;
	background-position: left;	
}
.header_slide_case{
	background-size: cover;
}
/*.slider_no_1 .header_slide_bg{
	background-image: url("../assets/images/slider/bg_1.png");
}
.slider_no_1 .header_slide_case{	
	background-image: url("../assets/images/slider/case_1.png");
}

.slider_no_2 .header_slide_bg{	
	background-image: url("../assets/images/slider/bg_2.png");
}
.slider_no_2 .header_slide_case{	
	background-image: url("../assets/images/slider/case_2.png");
}

.slider_no_3 .header_slide_bg{	
	background-image: url("../assets/images/slider/bg_3.png");
}
.slider_no_3 .header_slide_case{	
	background-image: url("../assets/images/slider/case_3.png");
}*/
@media screen and (min-width : 480px){
	.header_slide_text_container{
		width: 400px;
		position: absolute;
		top: 50%;
		left: 10%;		
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		z-index: 2;
	}
	.header_slide_title{
		font-size: 60px;
		line-height: 60px;
		text-align: left;
	}
	.header_slide_case{
		width: 250px;
		height: 470px;
		position: absolute;
		right: 100px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		/*border: 5px solid black;*/
		z-index: 2;
	}
	.header_slide_bg
	{
		background-position: left;
	}
}