html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html,body{
	position: absolute;
	display: block;
	float: left;
	width: 100%;
	font-family: 'mr';

}
body{
	font-family: "mr";
}
#full_container{
	width: 100%;
	position: relative;
	display: block;
	float: left;
}
.main_menu{
	width: 100%;	
	position: absolute;
	right: 0;
	top: 0;
	z-index: 50;	
	text-align: center;
	padding: 15px 25px 0;	
}
#stage{
	width: 100%;
	position: relative;
	display: block;
	float: left;
	clear: both;
}
.section{
	width: 100%;
	position: relative;
	display: none;
}
.section.section_active{
	display: block;
}


.main_info{
	width: 100%;	
	position: relative;
	display: block;
	background-color: #ffffff;
	padding: 15px 0;
}
.main_info_stage{
	width: 320px;
	position: relative;
	margin: 0 auto;
}
.main_info_img_container{
	width: 100%;
	height: 180px;
	position: relative;	
	float: left;
	margin: 0 auto;
	padding: 25px;
}
.main_info_img{
	width: 130px;
	height: 166px;	
	position: absolute;
	top: 0;
	left: 70px;
	background-size: cover;
	background-position: center;	
}
.main_info_img_1{
	background-image: url("../assets/images/info/info_case_1.png");
}
.main_info_img_2{
	background-image: url("../assets/images/info/info_case_2.png");
}
.main_info_img_3{
	background-image: url("../assets/images/info/info_case_3.png");
}
.main_info_img_4{
	background-image: url("../assets/images/info/info_case_4.png");
}
.main_info_img_5{
	background-image: url("../assets/images/info/info_case_5.png");
}
.main_info_content{
	margin-top: 20px;
	margin-bottom: 30px;
}
.main_info_text_container{
	width: 100%;
	position: relative;
	float: left;
	padding: 0 25px;
}

.global_footer{
	width: 100%;
	height: 100px;
	position: relative;
	display: block;
	float: left;
	background-color: black;
}
.footer_social{
	width: 450px;
	float: right;
	text-align: center;
}
.footer_social_item{
	width: 100px;
	height: 100px;
	background-color: gray;
	color: white;
	text-align: center;
	display: inline-block;
	vertical-align: top;	
}

.main_logo{
	position: relative;
	float: left;
	display: block;
}
.main_menu_icon{
	position: relative;
	display: inline-block;
}
.main_menu_icon.logo_ico{
	width: 17px;
	height: 25px;
	background-image: url('../assets/images/menu/ico_logo.png');
	position: relative;
	left: 0;
	top: 0;	
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);
}
.logo_page_name{
	position: relative;
	display: none;
	color: #333333;
	vertical-align: top;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'mblack';
	font-size: 13px;
	margin-top: 4px;
}
.main_menu_btn_container{
	position: relative;
	display: inline-block;
	float: right;
}
.main_menu_btn_container li{
	position: relative;
	display: inline-block;
}
.main_menu_btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	height: 30px;
	background-color: #333;
	border-radius: 50%;
	margin-left: 10px;
}
.main_menu_btn_crear{
	width: 104px;	
	color: white;
	background-color: transparent;
	border-radius: 0;
	background-image: url('../assets/images/menu/base_btn.png');
}
.main_menu_btn_crear .main_menu_btn_text{
	width: 100%;
	position: absolute;
	top: 6px;
	left: 0;
	color: white;
	font-family: "msemibold";
	font-size: 13px;
	text-transform: uppercase;	
}
.main_menu_icon{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.main_menu_btn_text{
	display: inline-block;
	vertical-align: top;
}
.main_menu_btn_carrito{
	width: 30px;
}
.carrito_ico{
	width: 14px;
	height: 13px;
	background-image: url('../assets/images/menu/carrito_14x13.png');
	
}
.main_menu_btn_carrito .main_menu_btn_itemcount{
	width: 15px;
	height: 15px;
	background-color: #f7d05c;
	border-radius: 50%;
	color: #333333;
	position: absolute;
	right: -3px;
	top: -3px;
	font-family: "msemibold";
	font-size: 10px;
	font-weight: 600;
	opacity: 0;
}
.main_menu_btn_carrito .main_menu_btn_itemcount.visible{
	opacity: 1;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.main_menu_btn_login{
	width: 30px;
}
.login_ico{
	width: 14px;
	height: 14px;
	background-image: url('../assets/images/menu/user_14x14.png');
}

.main_info_title{
	font-family: "mblack";
	font-size: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 7px;
	text-transform: uppercase;
}
.main_info_number{
	color: #dfdfe0;
	font-family: "mblack";
	font-size: 50px;
	display: inline-block;
	vertical-align: top;
	width: 45px;
}
.main_info_description{
	display: inline-block;
	width: 200px;
	font-family: "mlight";
	font-size: 14px;
	color: #cccccc;
	margin-top: 7px;
}
.main_info_btn{
	width: 278px;
	height: 63px;
	position: relative;
	display: block;
	margin: 20px auto 40px;
	background-image: url("../assets/images/info/info_btn.png");
}
.main_info_btn p{
	color: #ffffff;
}
@media screen and (min-width : 768px){
	.main_info_stage{
		width: 768px;
		position: relative;
		margin: 90px auto;
	}
	.main_info_img_container{
		width: 320px;
		position: relative;
		float: left;
	}
	.main_info_text_container{
		width: 400px;
		position: relative;
		display: block;
		float: left;
		padding-left: 25px;
	}
	.main_info_description{
		width: 300px;
	}
	.global_footer{
		height: 25px;
	}
	.footer_social_item{
		width: 35px;
		height: 25px;		
		display: inline-block;
		vertical-align: top;
		float: right;
		margin-left: 15px;
	}
	.logo_page_name{
		display: inline-block;
	}
	.main_info_content ul li{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.main_info_img{
		width: 300px;
		height: 386px;
		left: 0;
	}
}
@media screen and (min-width : 1024px){
	.main_info_img_container{
		width: 50%;
	}
	.main_info_img_container .main_info_img{
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.main_info_stage{
		width: 1024px;
	}
}
